* {
    position: relative;
}

#title {
    text-align: center;
    font-size: 40px;
}

.p {
    margin-left: 13px;
    margin-right: 13px;
    font-size: large;
}

/* .img {

} */

#img1 {
    margin-left: 10px;

}